<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Summary 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="onSpendClicked()">
          <ion-card-header>
            <ion-card-subtitle color="tertiary">Spend Summary</ion-card-subtitle>
            <ion-card-title color="primary">Current Month</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Total Spend: <span *ngIf="!isLoading" class="value">{{ spend | currency }}</span>
            <span *ngIf="isLoading" class="ion-text-center ion-padding">
              <ion-spinner color="primary"></ion-spinner>
            </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card (click)="onBudgetClicked()">
          <ion-card-header>
            <ion-card-subtitle color="tertiary">Monthly Budget</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Budget: <span *ngIf="!isLoading" class="value">{{ (budget ? budget : 0) | currency }}</span>
            <span *ngIf="isLoading" class="ion-text-center ion-padding">
              <ion-spinner color="primary"></ion-spinner>
            </span>
          </ion-card-content>
          <ion-card-content>
            Remainder: <span *ngIf="!isLoading" class="value">{{ remainder | currency }}</span>
            <span *ngIf="isLoading" class="ion-text-center ion-padding">
              <ion-spinner color="primary"></ion-spinner>
            </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
