<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add Spend
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="row-container">
      <ion-row>
        <div class="item">
          <div class="fields">
            <ion-icon color="primary" name="calendar-outline"></ion-icon>
            <ion-label> Select Date </ion-label>
          </div>
          <ion-datetime [(ngModel)]="date" pickerFormat="DD MMMM YYYY" displayFormat="DD MMMM YYYY" [placeholder]="getTodaysDate()"></ion-datetime>
        </div>
      </ion-row>
      <ion-row>
        <div class="item">
          <div class="fields">
            <ion-icon color="primary" name="cash-outline"></ion-icon>
            <ion-label>Enter Value</ion-label>
          </div>
          <ion-input [(ngModel)]="amount" [placeholder]="0 | currency" required={{true}} type="number" inputmode="numeric" color="primary" clearInput={{true}}></ion-input>
        </div>
      </ion-row>
    </ion-row>
    <ion-row>
      <ion-button (click)="onAdd()" expand="block" color="primary">
        <ion-icon name="add-circle-outline"></ion-icon>Add</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
