<ion-header>
  <ion-toolbar>
    <ion-title>
      Budget
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
      <ion-row class="row-container">
          <div class="item">
            <div class="fields">
              <ion-icon color="primary" name="cash"></ion-icon>
              <ion-label>Set Budget</ion-label>
              <ion-input [(ngModel)]="budget" [placeholder]="(budget ? budget : 0) | currency" clearInput={{true}}></ion-input>
            </div>
          </div>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="onSaveBudget()">
            Save
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
