<ion-header>
  <ion-toolbar>
    <ion-title>
      Budget
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-icon name="cash"></ion-icon>
          <ion-label position="floating">Set Budget</ion-label>
          <ion-input [(ngModel)]="budget"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="onSaveBudget()">
          Save
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
